html {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  font-family: 'helvetica neue';
  font-size: 10px;
  text-align: center;
}

body {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 2rem;
  margin: 0;
  min-height: 100vh;
}

.clock {
  border-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  height: 30rem;
  margin: 50px auto;
  padding: 2rem;
  position: relative;
  width: 30rem;
}

.clock-face {
  height: 100%;
  position: relative;
  transform: translateY(-3px); /* account for the height of the clock hands */
  width: 100%;
}

.hand {
  background: black;
  height: 6px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  width: 50%;
}

.second-hand {
  background-color: red;
  height: 2px;
}

.min-hand {
  background-color: gray;
  height: 4px;
}

.point {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 145px;
  left: 145px;
}
